# Created by https://www.toptal.com/developers/gitignore/api/swift,xcode,objective-c
# Edit at https://www.toptal.com/developers/gitignore?templates=swift,xcode,objective-c

### Aro ###
Statio/.package.resolved
Statio/App/Statio/Resources/analytics_config.json
Statio/App/Statio/Src/Infra/DependencyGraph.swift
Statio/App/StatioTests/Mocks.swift
Statio/App/StatioTests/FailureDiffs/
Statio/App/Derived/*

### Repo <-> SwiftFormat ###
.swiftformat

### Repo <-> SwiftLint ###
.swiftlint.yml

### Tuist ###
*.xcworkspace/
*.xcodeproj/

## spm ###
.build/