ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES=YES
BUNDLE_LOADER=$(TEST_HOST)
CLANG_ENABLE_MODULES=YES
CODE_SIGN_STYLE=Automatic
DEVELOPMENT_TEAM=Y88YPD4RJA
INFOPLIST_FILE=StatioTests/Info.plist
IPHONEOS_DEPLOYMENT_TARGET=14.3
PRODUCT_BUNDLE_IDENTIFIER=com.varunsanthanam.StatioTests
PRODUCT_NAME=$(TARGET_NAME)
SWIFT_VERSION=5.0
TARGETED_DEVICE_FAMILY=1,2
TEST_HOST=$(BUILT_PRODUCTS_DIR)/Statio.app/Statio

LD_RUNPATH_SEARCH_PATHS[config=Debug]=["$(inherited)", "@executable_path/Frameworks", "@loader_path/Frameworks"]
LD_RUNPATH_SEARCH_PATHS[config=Release]=["$(inherited)", "@executable_path/Frameworks", "@loader_path/Frameworks"]
SWIFT_OPTIMIZATION_LEVEL[config=Debug]=-Onone
